:host {
    display: inline-block;
    height: 175px;
    width: 125px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;

    .suit {
        position: absolute;
        right:3px;
        top:3px;
    }
    .number {
        margin-top: 70px;
        font-size: xx-large;
    }
}